<!-- Presurvey Section -->
    <section id="presurvey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <div class="col-md-1 text-center">
                    </div>
                   <div class="col-md-10 text-left">
                        <h2 class="section-heading text-center"><span style="color: #fd474d">Before </span>You Start</h2>
                        <h3 class="section-subheading text-muted text-center">Start by familiarizing yourself with the experience and setup of the app and equipment. Use the “Individual” link to guide yourself through the experience. </h3>

                        <p class="text-muted main-text">
                        Start by familiarizing yourself with the experience and setup of the app and equipment. Use the “Individual” link to guide yourself through the experience.<br><br>

                        When you introduce the experience to others, make sure not to mention that it is about abortions. If participants knew that they will start forming opinions before they go into VR. Instead, let them know that they can stop at any time if they feel uncomfortable. Ask them to try and forget who they are and imagine that they are just another person going through a VR experience. <br><br>

                        This may be the first time members of your group have experienced virtual reality. The equipment is easy to use but may feel foreign at first. If participants are less familiar it will be helpful for you to facilitate setup.  You can demonstrate how to put the equipment on or assist them in getting it on. When the equipment is on, senses will be diminished.  This can make some people feel vulnerable.  Get their consent if you are physically assisting in putting on equipment.  “Is it okay if I tighten your goggles?” “May I put the headphones on you now?”  <br><br>

                        Occasionally, virtual reality can bring on sensations of motion sickness.  We’ve designed the program to reduce this effect.  Tightly fastening the goggles so that the images are clear will also help. Goggles should feel comfortable and not rest on the cheekbones.  Assure participants that they may remove the goggles at any time if they feel uncomfortable. <br><br>

                        Once you’ve helped participants to get setup, you can instruct them based on the “How to start” guide detailed blow. It’s helpful for you to stay nearby in case they have questions during the experience. <br><br>

                        After the participants have finished the experience, go to the “After the experience” section.

                        </p>

                    </div>
                    <div class="col-md-1 text-center">
                    </div>
                </div>
            </div>
        </div>
    </section>