<!-- Presurvey Section -->
    <section id="presurvey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <div class="col-md-1 text-center">
                    </div>
                   <div class="col-md-10 text-left">
                        <h2 class="section-heading text-center"><span style="color: #fd474d">Before </span>You Start</h2>
                        <h3 class="section-subheading text-muted text-center"> This may be the first time you have used virtual reality equipment. It’s easy to use but may feel foreign at first. The instructions will guide you through step-by-step.  </h3>

                        <p class="text-muted main-text">

                        Tightly fastening the goggles so that the images are clear will help to prevent sensations of motion sickness. Goggles should feel comfortable and not rest on the cheekbones.<br><br>

                        If you feel uncomfortable while going through the experience, feel free to stop and take the headset off.


                        </p>

                    </div>
                    <div class="col-md-1 text-center">
                    </div>
                </div>
            </div>
        </div>
    </section>